
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./assets/Untitled\ design.png") ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #2d3748;
}


.quiz-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


button {
  background: #9b058c;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.content-section {
  display: flex;
  align-items: center;
}

.left-image {
  width: 40%;
  max-width: 300px;
  border-radius: 8px;
  margin-right: 20px;
}

.text-content {
  width: 60%;

}

.text-content h2 {
  color: #9b058c;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 10px;
}

.form button {
  background: #9b058c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.form button:hover {
  background: #7c0470;
}

/* Quiz Styles */
.quiz-questions h3, .quiz-questions h2 {
  color: #9b058c;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ul li label {
  margin-left: 10px;
  font-size: 1.1rem;
  color: #2d3748;
}



#submit:hover {
  background: #7c0470;
}

.quiz-complete{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 20px;
  margin-left: 230px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .content-section {
      flex-direction: column;
  }
  .left-image {
      width: 100%;
      margin: 0 0 20px 0;
  }
  .text-content {
      width: 100%;
  }
}
